*{
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, Helvetica, sans-serif;
    margin: 0;
}

/* header{
    position: sticky;
    top: 0%;
} */

.box-1 :hover {
    color: blue;

}

.icon-nav {
    background: rgb(251, 251, 248);
    background: linear-gradient(0deg, white 20%, rgba(205, 205, 205, 1) 100%);
}

.pakistan {
    margin: 0;
}

.login {
    font-weight: bolder;
    text-decoration: underline;
}

.login:hover {
    text-decoration: underline;
}

.border-image {
    width: 10.4;
    height: 4.8;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;

}

.sell {
    cursor: pointer;
    display: flex;
    pointer-events: auto;

}


.t-pics{
    font-size: 1rem;
    line-height: 1.15rem;
}
.text-muted{
    font-size: 0.8rem;
    line-height: 0.55rem;
}

.catagories {
    font: size 0.9rem;
    margin-left: 2.5rem;
}

/* .super-biscuits{
    padding: 1rem 5rem ;
} */

footer {
    background-color: #ebeeef;
    border-top: 1px solid rgba(0, 47, 52, .2);
    padding-top: 1.6rem;
    padding-bottom: 3rem ;
}

.footer-link {
    font: size 0.8rem;
    color: rgba(0,47,52,.64);
}
.footer-link-heading{
    color: #002f34;
    font-size: 0.9rem;
}

.footer-end {
    background-color: #002f34;
    color: #fff;
    padding: 1.1rem 0;
    text-align: right;
    font-size: 0.75rem;
}